@media only screen and (max-width: 600px) {
    .cus-top-bar{
        height: 50px !important;
    }
    
    .mb-header-sicdi{
        width: 100%;
        margin-left: 0 !important;
        margin: 1px 0px;
    }
    
    .mb-header-sicdi a{
        width: 100%;
    }
    
    .btn-link{
        width: 90%;
    }
}
